html 
body
    font-family: Arial, Roboto, sans-serif
    margin: 0
section 
button 
    -webkit-appearance: button
    -webkit-writing-mode: horizontal-tb !important
    text-rendering: auto
    color: -internal-light-dark-color(buttontext, rgb(170, 170, 170))
    letter-spacing: normal
    word-spacing: normal
    text-transform: none
    text-indent: 0px
    text-shadow: none
    display: inline-block
    text-align: center
    align-items: flex-start
    cursor: default
    background-color: -internal-light-dark-color(rgb(239, 239, 239), rgb(74, 74, 74))
    box-sizing: border-box
    margin: 0em
    font: 400 13.3333px Arial
    padding: 1px 6px
    border-width: 2px
    border-style: outset
    border-color: -internal-light-dark-color(rgb(118, 118, 118), rgb(195, 195, 195))
    border-image: initial
.btn-nav
    font-size: 15px
    background-color: #e0812d
    color: #eaeaea
    border-radius: 5px
    border: 0
    text-align: center
    width: 165px
    height: 27px
    margin-left: -30px
    -webkit-box-shadow: none
    box-shadow: none

.desctop-header
    display: flex
    position: fixed
    top: 0
    left: 0
    flex-direction: row
    justify-content: space-evenly
    font-family: Arial, Roboto, sans-serif
    font-size: 14px
    background: white
    height: 80px
    width: 100%
    z-index: 200
.header-main
    display: flex
    flex-direction: row
    justify-content: space-around
    width: 70%
    height: 30px
.header-logo
    width: 15%
    margin-left: 50px

    padding-top: 30px
    margin-left: 80px
.header-logo > img
    max-width: 130px
    width: 130px
    height: auto
.header-main__text
    padding-top: 35px
.header-main__text > a
    font-family: Arial, Roboto, sans-serif
    color: #2f3e53
    font-size: 14px
    font-weight: 700
    text-decoration: none
.header-main__text > a:hover
    color: rgb(2, 180, 190)
    transition: color 0.4s ease-in-out, opacity 0.4s ease-in-out
.header-number
    margin-right: 50px
    width: 20%
    color: rgb(47, 62, 83)
    font-size: 17px
    display: table-cell
    vertical-align: middle
    text-align: right
    height: 30px
    padding-top: 34px
.header-number > a
    color: rgb(47, 62, 83)
    font-weight: 700
    text-decoration: none
.header-main > div
    cursor: pointer
.podmenu:after
    content: '▼'
.main
    position: relative
    top: 80px
    left: 0
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,0.0), rgba(255,255,255,0.0)) 
    background-image: url(../img/main-slider.jpg)
    background-position-x: 55%
    width: 100%
    height: 450px
.magnet
    padding: 50px 0 50px 70px
.magnet__h1
    color: #2f3e53
    padding-top: 0px
    font-size: 48px
    font-weight: 600
.magnet__text
    color: #2f3e53
    padding-top: 0px   
    font-size: 20px
    line-height: 31px 
.magnet__text > p
    margin: 0
    font-size: 23px
.magnet__button
    margin-top: 50px
    color: #ffffff
    background-color: #ff7547
    border-radius: 15px
    height: 60px
    padding: 0 60px 0 60px
    font-size: 16px
    border: 0
.description div > p
    font-size: 18px
    font-size: 20px
    line-height: 1.55
    color: #000
.description div
    width: 630px
    margin: 130px auto
.qualities
    width: 100%
.qualities > h1
    font-size: 32px
    color: rgb(47, 62, 83)
.qualities-block
    display: flex
    justify-content: space-evenly
    width: 90%
    margin-left: 5%
.qualities-card
    width: 33%
    text-align: center
    margin-top: 50px
    margin-bottom: 50px
.qualities-card__img > img
    max-width: 100px

.qualities-card__text > h2
    color: #2f3e53
    margin-bottom: 25px
    margin-top: 18px
.qualities-card__text > p
    font-size: 16px
    width: 250px
    margin: 0 auto
    line-height: 24.8px
.examples-box
    width: 60%
    margin-left: 20%
    display: flex
    justify-content: space-around
.how > h1 

.how > div
    margin: 30px auto
    width: 650px
.heading
    font-size: 22px
    font-family: 'Roboto',Arial,sans-serif
    font-weight: 600
    color: #2f3e53
.text__p
    font-size: 16px
    font-family: 'Roboto',Arial,sans-serif
    font-weight: 300
.price__text
    margin: 50px auto
    width: 650px
    margin-bottom: 100px
.price-block-one
    display: flex
    justify-content: space-around
    width: 90%
    margin-left: 5%
.price-block-two
    display: flex
    justify-content: space-around
    width: 90%
    margin-left: 5%
.price-card
    width: 30%
.sofa
    display: flex
    justify-content: space-around
    width: 40%
    margin-left: 30%
.texile-sofa
    color: #222
    font-weight: 600
    padding: 0 15px 10px 15px
    transition: font-weight,color 0.3s ease
    border-bottom: 2px solid #ff7547
    font-size: 20px
    cursor: pointer
.leather-sofa
    font-size: 20px
    font-weight: 400
    padding: 0 15px 10px 15px
    color: #777
    cursor: pointer
.price-text__p
    font-size: 14px
    font-family: 'Roboto',Arial,sans-serif
    font-weight: 300
.price-card > h2 
    font-size: 17px
.calc
    background-image: url(../img/calc-background-f.jpg)
    background-attachment: fixed
    background-position: center
    background-repeat: no-repeat
    background-size: cover
    width: 100%
    height: 200px
    margin-top: 100px
    padding: 100px 0 100px 0
.head-calc
    width: 60%
    margin: 0px auto
.head-calc > h1 
    font-size: 30px
.head-calc > p
    font-size: 20px
.examples > h1
    font-size: 35px
.examples-line
    display: flex
    width: 100%
    margin: 0
.examples-block
    width: 25%
.examples-block > img
    width: 100%
.questions > h1 
    font-size:  30px
.questions-block
    width: 40%
    border: 1px solid #02b4be
    margin-left: 30%
    margin-bottom: 50px
    padding: 40px
    border-radius: 9px
.questions-line
    display: flex
    justify-content: space-between

.questions-line__one
    margin-bottom: 16px
    width: 100px
.questions-line__two
    width: 500px
.bold
    font-weight: 700
.normal-weith
    font-weight: 300
footer
    display: flex
    justify-content: space-around
    padding-top: 60px
    padding-bottom: 15px
    background-color: #2f3e53
    padding: 10px 10% 50px 10%
    
.column
    color: white
    display: flex
    flex-direction: column
.column > a
    color: white
    text-decoration: none
    font-size: 13px
    line-height: 27px
.column > a:hover
    color: #ff7547
    transition: 0.4s ease-in-out
.modal
    background-color: #000000a6
    width: 100%
    height: 100%
    z-index: 999
    position: fixed
    top: 0
    left: 0
    display: none
    cursor: pointer
.modal-case
    width: 35%
    background-color: white
    margin-left: 32.5%
    margin-top: 4%
    z-index: 251
    padding: 20px
    cursor: default
.modal-input
    color:#000000
    border: 1px solid #c9c9c9
    border-radius: 6px
    width: 80%
    margin: 5px 0 5px 10%
    height: 50px
    font-size: 16px
.modal-textarea
    color:#000000
    border: 1px solid #c9c9c9
    border-radius: 6px
    height: 136px
    width: 80%
    margin: 5px 0 5px 10%
    font-size: 16px
    font-family: Arial
    padding: 5px 0 0 5px
.modal-button
    color:#ffffff
    background-color:#ff7547
    border-radius: 6px
    border: 0
    width: 80%
    height: 54px
    font-size: 16px
    margin-left: 10%
    font-weight: 600
.modal-case p > a
    color: #ff7547
    text-decoration: none
    font-size: 14px
.soglasie
    font-size: 14px
    margin: 15px 0 0 0
.modal-burger
    display: flex
    position: fixed
    right: 20px
    top: 20px
    cursor: pointer
.modal-burger-two
    margin-left: 2px
    border-bottom: 4px solid #888888
    border-left: 4px solid #888888
    width: 15px
    height: 15px
    transform: rotate(45deg)
.modal-burger-one
    border-top: 4px solid #888888
    border-right: 4px solid #888888
    width: 15px
    height: 15px
    transform: rotate(45deg)
.organization, .services , .aboutUs
    pointer-events: auto
    transition-duration: 350ms
    animation-duration: 350ms
    position: fixed
    top: 61px
    left: 400px
    margin-top: 15px
    display: none
    z-index: 221
    background-color: #fff
    text-align: left
    max-width: 350px 
    border-radius: 8px
    border: 1px solid #02b4be 
    box-shadow: 0px 0px 7px 0px rgba(0, 0, 0, 0.40)
    padding: 15px
.organization,.services,.aboutUs > div
    margin: 5px 0 5px 0
.services > div
    margin: 5px 0 5px 0
.aboutUs > div
    margin: 5px 0 5px 0
.organization div > a
    color: #2f3e53
    text-decoration: none
    font-size: 14px
    font-family: Arial, Roboto, sans-serif
.services div > a
    color: #2f3e53
    text-decoration: none
    font-size: 14px
    font-family: Arial, Roboto, sans-serif
.aboutUs div > a
    color: #2f3e53
    text-decoration: none
    font-size: 14px
    font-family: Arial, Roboto, sans-serif
.arrow
    border-left: 9px solid transparent!important
    border-right: 9px solid transparent!important
    border-bottom: 9px solid
    position: absolute
    top: -8px
    left: 5px
    margin-top: -1px
    border-color: rgb(2, 180, 190)
.white-arrow
    border-left: 8px solid transparent!important
    border-right: 8px solid transparent!important
    border-bottom: 8px solid
    position: absolute
    top: -7.5px
    left: 6px
    border-color: rgb(255, 255, 255)
.active
    display: block !important
.services
    left: 280px
.aboutUs 
    left: 580px 
.header__mobile
    display: none !important
.head-calc > button
    margin-left: 33%